.footer-account-detail{
    display: inline-block; 
    width: 40px; 
    height: 40px; 
    background-color: #003B95; 
    color: white; 
    border-radius: 50%; 
    text-align: center; 
    line-height: 40px;
    text-decoration: none;
    padding-top: 1.5px;
}

@media (max-width: 451px){
    .container{
        flex-direction: column;
    }

    .right-footer, .left-footer{
        text-align: center;
    }

    .right-footer{
        margin-top: 20px;
    }

}